# Django
*.log
*.pot
*.pyc
__pycache__/
/bingo_backend/db.sqlite3
/bingo_backend/media/
/bingo_backend/bingo_api/
.env
.env.local
.env.production
.env.test
.venv/
venv/
env/
instance/
.mypy_cache/
.dmypy.json
dmypy.json
.coverage
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
# React
/bingo_frontend/node_modules/
/bingo_frontend/build/
/bingo_frontend/dist
/bingo_frontend/.env
/bingo_frontend/.env.local
/bingo_frontend/.env.production
/bingo_frontend/.eslintcache
/bingo_frontend/npm-debug.log*
/bingo_frontend/yarn-debug.log*
/bingo_frontend/yarn-error.log*
/bingo_frontend/.pnp
/bingo_frontend/.pnp.js
/bingo_frontend/src/api/admin.js
/bing_frontend/src/pages/admin.jsx